:root {
  --50: #FCFCFC;
  --100: #F8F8F8;
  --200: #EFEFEF;
  --300: #DFDFDF;
  --400: #B7B7B7;
  --500: #949494;
  --600: #77777;
  --700: #55555;
  --800: #2A2A2A;
  --900: #11111;
  --White: #FFFFFF;
  --Black: #000000;

  font-family: Pretendard,sans-serif;

  background-color: var(--100) ;
}
